.sidebar {
    height: 30px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: $z-index-sidebar;
    background: #394A59;
    font-family: "Roboto";
    box-shadow: 0 5px 22px rgba(0,0,0, .25);
    
}

.sidebar__left{
    width: 60%;
    
}

.sidebar__right{
    width: 40%;
    
}
.nav__list{
    display: flex;
    
}
.nav__link{
    display: block;
    padding: 1.5rem;
    
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $darkgrey;
    text-decoration: none;
}