<sidebar class="sidebar">
    <div class="sidebar__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="#">Каталог</a></li>
                <li> 
                    <a class="nav__link" href="#">О НАС</a>
                </li>
                <li> 
                    <a class="nav__link" href="#">Новости</a>
                </li>
                <li> 
                    <a class="nav__link" href="#">Контакты</a>
                </li>
                <li> 
                    <a class="nav__link" href="#">freespot</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar__right">
        <nav class="nav">
            <ul>
                <li> 
                    <a href="#">Профиль</a>
                </li>
            </ul>
        </nav>
        <form action="/" method="post">
            <input type="text">
        </form>
    </div>
</sidebar>  